@model JalpaBlog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">
                <img src="~/images/img_10.jpg" alt="Image" class="img-fluid mb-5">
                <div class="post-meta">
                    <span class="author mr-2"><img src="~/images/person_1.jpg" alt="Colorlib" class="mr-2"> Colorlib</span>&bullet;
                    <span class="mr-2">@Model.Created </span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <!--<h1><a href="#" class="post-headline mb-0"> </a></h1>-->
                <h1 class= "post-Title">There’s a Cool New Way for Men to Wear Socks and Sandals</h1>

                <!---<h1 class="post-headline mb-4">  Socks and Sandals</h1>
    -->
                <!-- <a class="category mb-5" href="#">Food</a> <a class="category mb-5" href="#">Travel</a>-->

                <div class="post-content-body">
                    <p>blog blog blog </p>

                </div>
            </div>
        </div>

        <!--Abstract-->
       <!-- <p class="abstract-content"> </p>-->
       
        <div class="pt-5">
            <ul>
                <li class="comment">
                    <div class="comment-body">
                        <h3> by Jean Doe</h3>
                    
                    </div>
                </li>
            </ul>
        </div>

        <!-- END comment-list -->

        <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form action="#" class="p-5 bg-light">
                <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
          
    
</section>